@import '/src/assets/fonts/style.css';
.App{
    width:90% ;
    margin: auto;
    min-height: 100vh;
    background-color:#282323;

}
html{
    // background-color:#282323;

}
*{
    box-sizing: border-box;
}